<div class="btn">
  <button mat-raised-button color="primary" routerLink="/users/form">Create New User</button>
</div>
<table mat-table [dataSource]="users" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email</th>
    <td mat-cell *matCellDef="let element">{{element.email}}</td>
  </ng-container>
  <ng-container matColumnDef="passwordHash">
    <th mat-header-cell *matHeaderCellDef>Password Hash</th>
    <td mat-cell *matCellDef="let element">{{element.passwordHash}}</td>
  </ng-container>
  <ng-container matColumnDef="isAdmin">
    <th mat-header-cell *matHeaderCellDef>Is Admin</th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.isAdmin">
        <mat-icon>check_circle_outline</mat-icon>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Edit</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" routerLink="/users/form/{{element._id}}">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="warn"(click)="deleteModal(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
</table>
